* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/backgroundimg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.login-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 61, 141, 0.234);
}

.login-card {
  width: 70rem;
  min-height: 40rem;
  background-color: rgb(218, 211, 211);
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
  box-shadow: 0 25 50 -12px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: ;
}
